body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #141e30, #0f0f0f);
    color: white;
    text-align: center;
}

header {
    padding: 60px 20px 30px;
}

header h1 {
    font-size: 42px;
    background: linear-gradient(45deg, #00f5ff, #00ff88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p {
    opacity: 0.7;
}

section {
    padding: 40px 20px;
}

h2 {
    margin-bottom: 30px;
    color: #00f5ff;
}

.card {
    display: block;
    text-decoration: none;
    color: white;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0,255,255,0.3);
    padding: 18px;
    margin: 15px auto;
    width: 85%;
    max-width: 420px;
    border-radius: 15px;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(0,255,255,0.1);
}

.card:hover {
    transform: translateY(-5px);
    background: linear-gradient(45deg, #00f5ff, #00ff88);
    color: black;
    box-shadow: 0 0 25px #00f5ff;
}

footer {
    padding: 20px;
    background: #111;
    margin-top: 50px;
    font-size: 14px;
    opacity: 0.7;
}
